.container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #f1f5f9;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.button {
  padding: 0.375rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;

  &.active {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  &.inactive {
    &:hover {
      background-color: #e2e8f0;
    }
  }
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
  color: #475569;
}
