.container {
  grid-column: span 8 / span 8;
}

.rangeSliderContainer {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.chartContainer {
  position: relative;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
  font-size: 12px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legendShape {
  &.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  &.square {
    width: 16px;
    height: 12px;
    border-radius: 0.125rem;
  }
}

.legendLabel {
  color: #334155;
}
